@charset "UTF-8";

.table-section h2 {
    font-size: 20px;
    font-weight: bold;
}

.table-section {
	background-color: white;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.head-section span {
    display: block;
    background-color: #f5f5f5;
    color: black;
    padding: 9px;
    border-radius: 4px;
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.search-table {
	width: 100%;
	border-collapse: collapse;
}
.search-table th {
	background-color: #f9f9f9;
}
.regist-table th {
	width:13%;
}
.regist-table td {
	width:35%;
}
.detail-table th {
	width:13%;
}
.detail-table td {
	width:36%;
}

.search-table th, .search-table td {
	padding: 10px;
	border: 1px solid #ddd;
	vertical-align: middle;
}

.search-table select, .search-table input {
	padding: 5px;
}

.radio-group {
	display: flex;
	justify-content: space-between;
}

.radio-group .form-check {
	margin-right: 10px;
}

/* 라디오 버튼을 기본 'o' 모양으로 변경 */
.form-check-input {
	appearance: radio !important;
	margin-top: 2px;
}

.table th {
	background-color: #f9f9f9;
	color: #333;
	white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}
.table thead th {
	background-color: #f2f2f2;
	border-bottom: 2px solid #ddd;
}

.table td {
	text-align: center;
	vertical-align: middle;
}
.table-bordered {
	text-align:center;
}

.status-box {
	padding: 5px 10px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

.status-attend {
    background-color: #f39c12; /* 출석에 대한 배경색 */
}

.status-absent {
    background-color: #2d3436; /* 결석에 대한 배경색 */
}
.status-추가 {
	background-color:gray;
}

.btn-group button {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #6c757d;
    border: none;
    color: white;
    margin-right: 10px; /* 버튼 간의 간격을 추가 */
}

.btn-group button:last-child {
    margin-right: 0; /* 마지막 버튼에만 간격 제거 */
}

.btn-group button:hover {
	opacity: 0.8;
}

.btn-excel, .btn-create-course, .btn-del {
	margin-left: 10px;
	padding: 5px 10px;
}
.btn-del {
	background-color: #007bff;
	color: white;
	border: none;
}
.btn-excel {
	background-color: #007bff;
	color: white;
	border: none;
}

.btn-create-course {
	background-color: #4CAF50;
	color: white;
	border: none;
}

.btn-excel:hover, .btn-create-course:hover {
	opacity: 0.8;
}

.btn-search {
	padding: 5px 10px;
	background-color: #007bff;
	color: white;
	border: none;
}
.search-select {
	width: 100px;
	max-width: 100%;
}
.search-selectle {
	width: 400px;
	max-width: 100%;
}
/* 검색 필드 크기 조정 */
.search-input {
	width: 300px;
	max-width: 100%;
}

.d-flex input {
	width:29%;
	margin-left:5px;
}
.d-flex span {
	line-height:35px;
}
.d-flex {
	align-items: center;
}
.span-ml {
	margin-left:10px;
}
.form-select {
    display: inline-block; 
}
.custom-th-width {
	width:150px;
}
.custom-width {
	display: inline-block;
	width:30%;
}
.student-table td {
	width:35%;
}
/*************************팝업부분**********************************/
.popup-wrapper {
    padding: 20px 20px;;
    border-radius: 5px;
}

.course-table {
    width: 100%;
    border-collapse: collapse;
}

.course-table th, .course-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: white;
}

.course-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

.course-table td {
    vertical-align: middle;
}

.menu-span span {
	display: block;
    background-color: #f5f5f5;
    color: black;
    padding: 9px;
    border-radius: 4px;
    font-size: 17px;
    margin-bottom: -1px;
    font-weight: bold;
    border: 1px solid #dddddd;
}

.btn-select {
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-select:hover {
    background-color: #218838;
}

.badge {
    font-size: 0.75rem;
    padding: 0.5em;
    border-radius: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.pagination .page-item .page-link {
    color: #007bff;
    padding: 8px 12px;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

.pagination .page-item .page-link:hover {
    background-color: #e9ecef;
}

.text-container {
    width: 100%;  /* 원하는 너비로 설정 */
    height: 100px;  /* 원하는 높이로 설정 */
    border: 1px solid #ccc;  /* 테두리 스타일 */
    padding: 10px;
    overflow: auto;  /* 내용이 넘치면 스크롤 */
    box-sizing: border-box;
}

.nav-tabs .nav-link.active {
	background-color: #f0f0f0;
    color: black;
}
.nav-tabs .nav-link {
    cursor: pointer;
    color: black;
    font-weight: bold;
}
.tab-section {
	padding:15px;
}
